body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
}

/* Headings */
.h1-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;
}

.h2-heading {
    font-size: 3em;
    line-height: 1.5;
}

.container-fluid {
    padding: 7% 15%;
}

.color-section {
    background-color: indianred;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Title Section */
#title .container-fluid {
    padding: 3% 15% 8%;
    text-align: left;
}

/*  Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar .navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar .nav-item {
    padding: 0 18px;
}

.navbar .nav-link {
    font-size: 1.2em;
    font-weight: 300;
}

/* Download buttons */
.download-btn {
    margin: 5% 3% 5% 0;
}

/* Title Image */
.title-img {
    width: 24%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;

}

/* Features section */
#features {
    position: relative;
}

#features p {
    color: #8f8f8f;
}

#features i {
    color: #ef8172;
}

#features i:hover {
    color: #ff4c68;
}

/* Testimonials Section */
#testimonials .color-section{
    background-color: #ef8172;
}

.testimonials-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press Section */
#press .color-section{
    background-color: #ef8172;
    padding-bottom: 3%;
}

#press img {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing section */
#pricing .pricing-item {
    padding: 3% 2%;
}

/* Call to action section */
#cta h3 {
    font-size: 3.5em;
    line-height: 1.5;
}

/* Footer Section */

#footer a {
    color: #8f8f8f;
}

#footer a:hover {
    color: #727272;
}

@media screen and (max-width: 991px) {
    #title .container-fluid {
        text-align: center;
        padding: 3% 2% 8%;
    }

    .h1-heading{
        font-size: 3rem;
    }

    .title-img {
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}